set number relativenumber
set hlsearch ignorecase smartcase
set backspace=indent,eol,start
set scrolloff=1
set surround

let mapleader = '\'
map <space> <leader>

noremap j gj
noremap k gk
noremap zl 24zl
noremap zh 24zh
noremap zr zR
noremap zm zM
noremap [[ [{
noremap ]] ]}

nnoremap 0 ^
nnoremap - $
nnoremap Y y$
nnoremap yp "0p
nnoremap yP "0P
nnoremap U <C-R>

nnoremap <leader>y "*y
nnoremap <leader>Y "*y$
nnoremap <leader>p "*p
nnoremap <leader>P "*P
nnoremap <leader>/ :set invhlsearch<CR>

inoremap <C-K> <Up>
inoremap <C-J> <Down>
inoremap <C-H> <Left>
inoremap <C-L> <Right>

vnoremap < <gv
vnoremap > >gv

nnoremap <F1> :action VimPluginToggle<CR>
inoremap <F1> <ESC>:action VimPluginToggle<CR><Right>

noremap + :action EditorSelectWord<CR>
noremap _ :action EditorUnSelectWord<CR>
nnoremap gc :action CommentByLineComment<CR>
nnoremap <leader>j :action emacsIDEAs.AceJumpWord<CR>
